mixin navScroller(param)
    .nav-scroller.bg-white.shadow-sm
        nav.nav.nav-underline
            a.nav-link.active(href='#') Dashboard
            a.nav-link(href='#')
                | Friends
                span.badge.badge-pill.bg-light.align-text-bottom 27
            a.nav-link(href='#') Explore
            a.nav-link(href='#') Suggestions
            a.nav-link(href='#') Link
            a.nav-link(href='#') Link
            a.nav-link(href='#') Link
            a.nav-link(href='#') Link
            a.nav-link(href='#') Link
